@{
    Layout = null;
}
<ul id="menuNav" class="main-menu">
    <li >
        <a id="a1" href="#" title="Transaction"><i class="fa fa-bank fa-fw"></i><span class="title">Transaction</span> <span class="expand-sign">+</span></a>
        <ul style="display: none;">
            <li><a id="a9" href="/JEV/JEV_Entries" title="JEV Preparation">JEV Preparation</a></li>
            <li><a id="a50" href="/JEV/JEV_Liquidation" title="JEV Numbering">General JEV Numbering</a></li>
            <li><a id="a52" href="/Ledger/Index_UnfilteredCashFlow">Cash Flow Generation</a></li>
            <li><a id="a10" href="/JEV/JEV_Entries" title="Incoming Transaction (DV Numbering)">DV Numbering</a></li>
            <li><a id="a11" href="/JEV/JEV_Entries" title="JEV Approval and Log Out(New)">JEV Approval and Log Out</a></li>
            <li><a id="a12" href="/JEV/JEV_Entries" title="Review and Examination of Financial Document">Examination of Document</a></li>
            <li><a id="a13" href="/JEV/JEV_Entries" title="Accountant's Advice Preparation">Accountant's Advice Preparation</a></li>
            <li><a id="a14" href="/JEV/JEV_Entries" title="Posted Journal Entry Voucher">Posted Journal Entry Voucher</a></li>
            <li><a id="a15" href="/JEV/JEV_Entries" title="Bank Reconciliation">Bank Reconciliation</a></li>
            <li><a id="a16" href="/JEV/JEV_Entries" title="Cash Advance Email Notification">Cash Advance Email Notification</a></li>
        </ul>
    </li>
    <li >
        <a id="a17" href="#" title="JEV Numbering"><i class="fa fa-bank fa-fw"></i><span class="title">JEV Numbering</span> <span class="expand-sign">+</span></a>
        <ul style="display: none;">
            <li><a id="a21" href="/JEV/JEV_Numbering_CDJ" title="Check Disbursement">Check Disbursement</a></li>
            <li><a id="a53" href="/JEV/JEV_Numbering_CashJ" title="Cash Disbursment">Cash Disbursement</a></li>
        </ul>
    </li>
    <li >
        <a id="a28" href="#" title="Ledger"><i class="fa fa-bar-chart fa-fw"></i><span class="title">Ledger</span> <span class="expand-sign">+</span></a>
        <ul style="display: none;">
            <li><a id="a29" href="/JEV/JEV_Entries" title="General Ledger">General Ledger</a></li>
            <li><a id="a30" href="/Ledger" title="Subsidiary Ledger">Subsidiary Ledger</a></li>
            <li><a id="a51" href="/Ledger/Index_gl" title="Subsidiary Ledger">Subsidiary Ledger By General Account</a></li>
        </ul>
    </li>
    <li >

        <a id="a31" href="#" title="Financial Reports"><i class="fa fa-bar-chart fa-fw"></i><span class="title">Financial Reports</span> <span class="expand-sign">+</span></a>
        <ul style="display: none;">
            <li><a id="a32" href="/Financial/index_trial_balance" title="Trial Balance">Trial Balance</a></li>
            <li><a id="a33" href="/Financial/index_financial_position" title="Statement of Financial Position">Statement of Financial Position</a></li>
            <li><a id="a34" href="/Financial/index_financial_performance" title="Statement of Financial Performance">Statement of Financial Performance</a></li>
            <li><a id="a35" href="/JEV/JEV_Entries" title="Changes in Net Assets/ Equity">Changes in Net Assets/ Equity</a></li>
            <li><a id="a36" href="/JEV/JEV_Entries" title="Report of Revenue and Receipts">Report of Revenue and Receipts</a></li>
            <li><a id="a37" href="/JEV/JEV_Entries" title="Statement of Cash flow">Statement of Cash flow</a></li>
            <li>
                <a id="a38" href="/JEV/JEV_Entries" title="Supporting Schedules">
                    Supporting Schedules
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a id="a2" href="/Journals" title="Journals"> <i class="fa fa-bar-chart fa-fw"></i><span class="title">Journals</span></a>
    </li>
    <li >

        <a id="a4" href="#" title="Query"><i class="fa fa-pie-chart fa-fw"></i><span class="title">Query</span> <span class="expand-sign">+</span></a>
        <ul style="display: none;">
            <li><a id="a39" href="/" title="Status of Cash Advance">Status of Cash Advance</a></li>
            <li><a id="a40" href="/" title="Statement of Expenses">Statement of Expenses</a></li>
        </ul>
    </li>
    <li >

        <a id="a3" href="#" title="Chart of Accounts"><i class="fa fa-database fa-fw"></i><span class="title">Chart of Accounts</span> <span class="expand-sign">+</span></a>
        <ul style="display: none;">
            <li><a id="a5" href="/ChartOfAccounts/GL_Index" title="Chart of Account">General Account</a></li>
            <li><a id="a6" href="/ChartOfAccounts/SL_Index" title="Subsidiary Account">Subsidiary Account</a></li>
        </ul>
    </li>
    <li >
        <a id="a7" href="#" title="Maintenance"><i class="fa fa-gears fa-fw"></i><span class="title">Maintenance</span> <span class="expand-sign">+</span></a>
        <ul style="display: none;">
            <li><a id="a8" href="/UserManage/Index_user_management" title="Manage user access right">User Management</a></li>
            <li><a id="a41" href="/Maintenance/UserManagement_Index" title="Account Code Classification">Account Code Classification</a></li>
            <li><a id="a42" href="/Maintenance/UserManagement_Index" title="Accounts Payable Registry">Accounts Payable Registry</a></li>
            <li><a id="a43" href="/Maintenance/UserManagement_Index" title="Bank Reconciliation Classification">Bank Reconciliation Classification</a></li>
            <li><a id="a44" href="/Maintenance/UserManagement_Index" title="Cash Flow Classification">Cash Flow Classification</a></li>
            <li><a id="a45" href="/Maintenance/UserManagement_Index" title="Revenue and Receipts Classification">Revenue and Receipts Classification</a></li>
            <li><a id="a46" href="/Maintenance/UserManagement_Index" title="Signatory Buildup">Signatory Buildup</a></li>
            <li><a id="a47" href="/Maintenance/UserManagement_Index" title="Signatory Accomplishment">Signatory Accomplishment</a></li>
            <li><a id="a58" href="/Maintenance/index_transaction_type" title="Manage user access right">Transaction Type</a></li>
        </ul>
    </li>
    <li >
        <a id="a54" href="#" title="Tracking Setup"><i class="fa fa-gears fa-fw"></i><span class="title">Tracking Setup</span> <span class="expand-sign">+</span></a>
        <ul style="display: none;">
            <li><a id="a55" href="/tracking" title="Log Status Builup">Log Status Builup</a></li>
        </ul>
    </li>
    <li class="expanded">
        <a id="a56" href="#" title="Document Management"><i class="fa fa-bank fa-fw"></i><span class="title">Document Management</span> <span class="expand-sign">+</span></a>
        <ul style="display: block;">
            <li><a id="a63" href="/Document/Received_Logout_index" title="Received/Logout Document">Received/Logout Document</a></li>
            <li><a id="a61" href="/Document/Tracking_Form_Index" title="Tracking Form">Document Preparation</a></li>
            <li><a id="a57" href="/VourcherPrep" title="Voucher Preparation">DV/OBR Preparation</a></li>
            <li><a id="a62" href="/Document/document_prep_Index" title="Document Preparation">Document Preparation</a></li>
        </ul>
    </li>
</ul>