
<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        height: 400,
        columns: [
            {field: "Col_name"},
            {field: "Col_description"},
            {field: "CompensationID"},
            {field: "Datatype"},
            {field: "isIncome"},
            {field: "col_width"},
            {field: "col_format"},
            {field: "orderby"},
            {field: "includeTaxAnnual"},
            {field: "defaultAmount"},
            {field: "formula"}
        ],
        dataSource: {
            type: "aspnetmvc-ajax", 
            transport: {
                read: {
                     url: "tbl_l_Compensation_Column_Read"
                }
			},
            schema: {
                data: "Data",
                model: {
                    id: "Col_id",
					fields: {
						Col_id: { type: "number"},
						Col_name: { type: "string"},
						Col_description: { type: "string"},
						CompensationID: { type: "number"},
						Datatype: { type: "number"},
						isIncome: { type: "number"},
						col_width: { type: "number"},
						col_format: { type: "string"},
						orderby: { type: "number"},
						includeTaxAnnual: { type: "number"},
						defaultAmount: { type: "number"},
						formula: { type: "string"}
					}
                }
            }, 
			serverPaging: true,
			serverSorting: true,
			serverSorting: true,
        },
        scrollable: true
    })

</script>
