@{
    ViewBag.Title = "View";
    if (Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else {
        Layout = "~/Views/Shared/_Layout_default.cshtml";
    }
}
<div><h1>Unauthorized <small>Error 401</small></h1><p class="lead">The requested resource requires an authentication.</p></div>