
@{
    ViewBag.Title = "Coming Soon";
    Layout = null;
}


<div class="box" style="width:100%;margin-bottom:0px!important;">
    <div class="box-body" >
        <div class="col-md-4" style="height:900px;border:solid 1px gray;overflow-y:auto">
            <span class="bs-stepper-header" style="padding-top:15px;padding-bottom:15px"><b>Comming Soon</b></span>
            <div id="stepper4" class="bs-stepper vertical linear">
                <div class="bs-stepper-header" role="tablist">

                </div>

            </div>
            </div>
      
    </div>
</div>
