
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="box">
    <div class="box-head" style="border-bottom:1px solid #e8e8e8">
        <header>
            <h4 class="text-bold">@ViewBag.Title_mini</h4>
        </header>
        <div class="tools">
            <div class="btn-group ">
                <a class="btn btn-equal btn-sm btn-refresh"><i class="fa fa-refresh"></i></a>
                <a class="btn btn-equal btn-sm btn-collapse"><i class="fa fa-angle-down"></i></a>
                <a class="btn btn-equal btn-sm btn-close"><i class="fa fa-times"></i></a>
            </div>
        </div>
    </div>
    <div class="box-body" style="padding-top:10px">
        <script>
            function para_coa (){
                return { IS_id: $("#dp_is_name").data("kendoDropDownList").value() }
            }
            function r_grid() {
                var grid = $("#grid_statusname").data("kendoGrid");
                grid.dataSource.read();
            }
            function edit_logs() {

            }
        </script>
        <div class="row">
            <label for="FundType">List</label>
            @(Html.Kendo().Grid<WebAOMS.Models.ufn_grid_transaction_type_Result>()
        .Name("grid_statusname")
        .Columns(columns =>
        {
            columns.Bound(m => m.Transtype_id).Width(60);
            columns.Bound(m => m.TransactionName).Width(90);
            columns.Bound(m => m.Code).Width(200);
            columns.Bound(m => m.AccountName).Width(200);
            columns.Template(@<text></text>)
            .Width(50)
            .HtmlAttributes(new { style = "text-align:left;font-size:10" })
            .ClientTemplate("<button data-original-title=\"recompute\" type=\"button\" onclick=\"addnew(#=Transtype_id#)\" class=\"btn btn-xs btn-inverse btn-equal\" style=\"margin-right:2px\"><i class=\"fa fa-pencil\"></i></button>");

        })
        .AutoBind(false)
        .HtmlAttributes(new { style = "height: 350px;" })
        .Scrollable()
        .Sortable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("grid_transaction_type", "Maintenance"))
            .PageSize(200)
        )
            )
        </div>
    </div>
    <div class="box-footer">
        <div class="btn-group" style="padding-left:10px;padding-bottom:10px">
            <button onclick="addnew(0)" type="button" class="btn btn-default"><i class="fa fa-plus"></i> Add New</button>
        </div>
    </div>
</div>

<script>
    var mg = new mgsInfo()
    function addnew(id) {
        startSpin()
        $.post('@Url.Action("_Add", "Maintenance")', { id: id }
            , function (r) {
                if (r.code == 5) {
                    stopSpin()
                    mg.warning("" + r.statusName + "", "System Message")
                }
                else {
                    var header = "Add new log status";
                    stopSpin()
                    if (id!=0)
                    {
                        header = "Update log status"
                    }
                    $("#h_transaction_type_id").html(header);
                    $("#body_transaction_type").html(r)
                    $("#mdl_transaction_type").modal("show");
                }
            })
        .fail(function (jqXHR, textStatus, error) {
            stopSpin()
            mg.warning("" + textStatus + "")
        });
    }
</script>
<div class="modal" id="mdl_transaction_type" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 id="h_transaction_type_id" class="modal-title">Save/Update transaction type</h4>
            </div>
            <div id="body_transaction_type" class="modal-body" style="height:auto!important">

            </div>
            <div class="modal-footer">
                <button onclick="btn_save_status_log()" type="button" class="btn btn-success"><i class="fa fa-save"></i> Save Changes</button>
                <button onclick="delete_status_details()" type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                <button type="button" class="btn btn-default" style="cursor:pointer" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

