<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--PGAS-->
    <add name="DefaultConnection" connectionString="Data Source=192.168.101.52;Initial Catalog=fmis;Persist Security Info=True;User ID=acct_mp;password=Acnfd7238123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ifmisConnString" connectionString="Provider=SQLOLEDB.1;Password=Acnfd7238123;Persist Security Info=True;User ID=acct_mp;Initial Catalog=fmis;Data Source=192.168.101.52" />
    <add name="vConnString" connectionString="Provider=SQLOLEDB.1;Password=123123;Persist Security Info=True;User ID=acct_mp;Initial Catalog=fmis;Data Source=10.0.0.147" />
    <add name="cbms2dot70" connectionString="Provider=SQLOLEDB.1;Password=prmf@123;Persist Security Info=True;User ID=acct_mp;Initial Catalog=master;Data Source=192.168.2.70" />
    <add name="fmisconn" connectionString="Data Source=192.168.101.52;Initial Catalog=fmis;Persist Security Info=True;User ID=acct_mp;password=Acnfd7238123;" providerName="System.Data.SqlClient" />
    <add name="pmisconn" connectionString="Data Source=192.168.101.52;Initial Catalog=pmis;Persist Security Info=True;User ID=acct_mp;password=Acnfd7238123;" providerName="System.Data.SqlClient" />
    <add name="pmisDBconnstring" connectionString="Provider=SQLOLEDB.1;Password=Acnfd7238123;Persist Security Info=True;User ID=acct_mp;Initial Catalog=pmis;Data Source=192.168.101.52;" />
    <add name="fmisEntities" connectionString="metadata=res://*/Models.fmis.csdl|res://*/Models.fmis.ssdl|res://*/Models.fmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.101.52;initial catalog=fmis;persist security info=True;user id=acct_mp;password=Acnfd7238123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="pmisEntities" connectionString="metadata=res://*/Models.pmis.csdl|res://*/Models.pmis.ssdl|res://*/Models.pmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.101.52;initial catalog=pmis;persist security info=True;user id=acct_mp;password=Acnfd7238123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ifmisEntities" connectionString="metadata=res://*/Models.ifmis.csdl|res://*/Models.ifmis.ssdl|res://*/Models.ifmis.msl;  provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.101.52;initial catalog=IFMIS;persist security info=True;user id=acct_mp;password=Acnfd7238123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Palawan-->
    <!--local host-->
    <!--<add name="DefaultConnection" connectionString="Data Source=G533ZM-04;Initial Catalog=fmis;Persist Security Info=True;User ID=sa;password=pimo@123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="ifmisConnString" connectionString="Provider=SQLOLEDB.1;Password=pimo@123;Persist Security Info=True;User ID=sa;Initial Catalog=fmis;Data Source=G533ZM-04"/>
    <add name="vConnString" connectionString="Provider=SQLOLEDB.1;Password=123123;Persist Security Info=True;User ID=sa;Initial Catalog=fmis;Data Source=10.0.0.147"/>
    <add name="cbms2dot70" connectionString="Provider=SQLOLEDB.1;Password=prmf@123;Persist Security Info=True;User ID=sa;Initial Catalog=master;Data Source=192.168.2.70"/>
    <add name="fmisconn" connectionString="Data Source=G533ZM-04;Initial Catalog=fmis;Persist Security Info=True;User ID=sa;password=pimo@123;" providerName="System.Data.SqlClient"/>
    <add name="pmisconn" connectionString="Data Source=G533ZM-04;Initial Catalog=pmis;Persist Security Info=True;User ID=sa;password=pimo@123;" providerName="System.Data.SqlClient"/>
    <add name="pmisDBconnstring" connectionString="Provider=SQLOLEDB.1;Password=pimo@123;Persist Security Info=True;User ID=sa;Initial Catalog=pmis;Data Source=G533ZM-04;"/>
    <add name="fmisEntities" connectionString="metadata=res://*/Models.fmis.csdl|res://*/Models.fmis.ssdl|res://*/Models.fmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=G533ZM-04;initial catalog=fmis;persist security info=True;user id=sa;password=pimo@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="pmisEntities" connectionString="metadata=res://*/Models.pmis.csdl|res://*/Models.pmis.ssdl|res://*/Models.pmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=G533ZM-04;initial catalog=pmis;persist security info=True;user id=sa;password=pimo@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ifmisEntities" connectionString="metadata=res://*/Models.ifmis.csdl|res://*/Models.ifmis.ssdl|res://*/Models.ifmis.msl;  provider=System.Data.SqlClient;provider connection string=&quot;data source=G533ZM-04;initial catalog=IFMIS;persist security info=True;user id=sa;password=pimo@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--Localhost-->
    <!--<add name="DefaultConnection" connectionString="Data Source=G533ZM-04;Initial Catalog=fmis;Persist Security Info=True;User ID=sa;password=pgzn@*2023;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ifmisConnString" connectionString="Provider=SQLOLEDB.1;Password=pgzn@*2023;Persist Security Info=True;User ID=sa;Initial Catalog=fmis;Data Source=G533ZM-04" />
    <add name="fmisconn" connectionString="Data Source=G533ZM-04;Initial Catalog=fmis;Persist Security Info=True;User ID=sa;password=pgzn@*2023;" providerName="System.Data.SqlClient" />
    <add name="pmisDBconnstring" connectionString="Provider=SQLOLEDB.1;Password=pgzn@*2023;Persist Security Info=True;User ID=sa;Initial Catalog=pmis;Data Source=G533ZM-04;" />
    <add name="fmisEntities" connectionString="metadata=res://*/Models.fmis.csdl|res://*/Models.fmis.ssdl|res://*/Models.fmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=G533ZM-04;initial catalog=fmis;persist security info=True;user id=sa;password=pgzn@*2023;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="pmisEntities" connectionString="metadata=res://*/Models.pmis.csdl|res://*/Models.pmis.ssdl|res://*/Models.pmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=G533ZM-04;initial catalog=pmis;persist security info=True;user id=sa;password=pgzn@*2023;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ifmisEntities" connectionString="metadata=res://*/Models.ifmis.csdl|res://*/Models.ifmis.ssdl|res://*/Models.ifmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=G533ZM-04;initial catalog=IFMIS;persist security info=True;user id=sa;password=pgzn@*2023;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Zambo-->
    <!--
    <add name="DefaultConnection" connectionString="Data Source=10.10.51.110;Initial Catalog=fmis;Persist Security Info=True;User ID=sa;password=pgzn@*2023;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="IFMISEntities" connectionString="metadata=res://*/Models.ifmis.csdl|res://*/Models.ifmis.ssdl|res://*/Models.ifmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.51.110;initial catalog=IFMIS;persist security info=True;user id=sa;password=pgzn@*2023;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ifmisConnString" connectionString="Provider=SQLOLEDB.1;Password=pgzn@*2023;Persist Security Info=True;User ID=sa;Initial Catalog=fmis;Data Source=10.10.51.110" />
    <add name="fmisconn" connectionString="Data Source=10.10.51.110;Initial Catalog=fmis;Persist Security Info=True;User ID=sa;password=pgzn@*2023;" providerName="System.Data.SqlClient" />
    <add name="pmisDBconnstring" connectionString="Provider=SQLOLEDB.1;Password=pgzn@*2023;Persist Security Info=True;User ID=sa;Initial Catalog=pmis;Data Source=10.10.51.110;" />
    <add name="fmisEntities" connectionString="metadata=res://*/Models.fmis.csdl|res://*/Models.fmis.ssdl|res://*/Models.fmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.51.110;initial catalog=fmis;persist security info=True;user id=sa;password=pgzn@*2023;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="pmisEntities" connectionString="metadata=res://*/Models.pmis.csdl|res://*/Models.pmis.ssdl|res://*/Models.pmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.51.110;initial catalog=pmis;persist security info=True;user id=sa;password=pgzn@*2023;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="vConnString" connectionString="Provider=SQLOLEDB.1;Password=123123;Persist Security Info=True;User ID=sa;Initial Catalog=fmis;Data Source=10.0.0.147" />
    <add name="cbms2dot70" connectionString="Provider=SQLOLEDB.1;Password=prmf@123;Persist Security Info=True;User ID=sa;Initial Catalog=master;Data Source=192.168.2.70" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=10.0.1.0;Initial Catalog=fmis;Persist Security Info=True;User ID=sa;password=12345;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="ifmisConnString" connectionString="Provider=SQLOLEDB.1;Password=12345;Persist Security Info=True;User ID=sa;Initial Catalog=fmis;Data Source=10.0.1.0"/>
    <add name="vConnString" connectionString="Provider=SQLOLEDB.1;Password=123123;Persist Security Info=True;User ID=sa;Initial Catalog=fmis;Data Source=10.0.0.147"/>
    <add name="cbms2dot70" connectionString="Provider=SQLOLEDB.1;Password=prmf@123;Persist Security Info=True;User ID=sa;Initial Catalog=master;Data Source=192.168.2.70"/>
    <add name="fmisconn" connectionString="Data Source=10.0.1.0;Initial Catalog=fmis;Persist Security Info=True;User ID=sa;password=12345;" providerName="System.Data.SqlClient"/>
    <add name="pmisDBconnstring" connectionString="Provider=SQLOLEDB.1;Password=12345;Persist Security Info=True;User ID=sa;Initial Catalog=pmis;Data Source=10.0.1.0;"/>
    <add name="fmisEntities" connectionString="metadata=res://*/Models.fmis.csdl|rbasicHttpBindinges://*/Models.fmis.ssdl|res://*/Models.fmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.1.0;initial catalog=fmis;persist security info=True;user id=sa;password=12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="pmisEntities" connectionString="metadata=res://*/Models.pmis.csdl|res://*/Models.pmis.ssdl|res://*/Models.pmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.1.0;initial catalog=pmis;persist security info=True;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--tacurong-->
    <!--<add name="DefaultConnection" connectionString="Data Source=10.100.100.4;Initial Catalog=fmis;Persist Security Info=True;User ID=sa;password=pimo@123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="ifmisConnString" connectionString="Provider=SQLOLEDB.1;Password=pimo@123;Persist Security Info=True;User ID=sa;Initial Catalog=fmis;Data Source=10.100.100.4"/>
    <add name="vConnString" connectionString="Provider=SQLOLEDB.1;Password=123123;Persist Security Info=True;User ID=sa;Initial Catalog=fmis;Data Source=10.0.0.147"/>
    <add name="cbms2dot70" connectionString="Provider=SQLOLEDB.1;Password=prmf@123;Persist Security Info=True;User ID=sa;Initial Catalog=master;Data Source=192.168.2.70"/>
    <add name="fmisconn" connectionString="Data Source=10.100.100.4;Initial Catalog=fmis;Persist Security Info=True;User ID=sa;password=pimo@123;" providerName="System.Data.SqlClient"/>
    <add name="pmisDBconnstring" connectionString="Provider=SQLOLEDB.1;Password=pimo@123;Persist Security Info=True;User ID=sa;Initial Catalog=pmis;Data Source=10.100.100.4;"/>
    <add name="fmisEntities" connectionString="metadata=res://*/Models.fmis.csdl|res://*/Models.fmis.ssdl|res://*/Models.fmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.100.4;initial catalog=fmis;persist security info=True;user id=sa;password=pimo@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="pmisEntities" connectionString="metadata=res://*/Models.pmis.csdl|res://*/Models.pmis.ssdl|res://*/Models.pmis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.100.4;initial catalog=pmis;persist security info=True;user id=sa;password=pimo@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <!--<location path="signin-google">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add verb="*" type="Telerik.Reporting.Vs.Common.HttpHandler, Telerik.Reporting.Vs.Common, Version=15.2.21.1125, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" validate="true" />
    </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/login" />
    </authentication>
    <!--<roleManager enabled="true" />-->
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik.ReportViewer.axd_*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=16.1.22.622, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SMSWebServiceSoap" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="TrackingSoap">
          <security mode="Transport" />
        </binding>
        <binding name="serviceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="TrackingSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="SMSWebServiceSoap1" />
        <binding name="serviceSoap1" />
        <binding name="WebServiceSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="TrackingSoap2" />
        <binding name="WebServiceSoap2" />
        <binding name="WebServiceSoap3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--PGAS-->
      <endpoint address="https://192.168.101.56/SMSWebService/SMSWebService.asmx" binding="basicHttpBinding" bindingConfiguration="SMSWebServiceSoap" contract="ws_sms.SMSWebServiceSoap" name="SMSWebServiceSoap" />
      <endpoint address="https://192.168.101.56/wsifmis/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="wsfmis.WebServiceSoap" name="WebServiceSoap" />
      <endpoint address="https://192.168.101.56/epsws/service.asmx" binding="basicHttpBinding" bindingConfiguration="serviceSoap" contract="epsws.serviceSoap" name="serviceSoap" />
      <endpoint address="https://192.168.101.56/wsifmis/tracking.asmx" binding="basicHttpBinding" bindingConfiguration="TrackingSoap" contract="ws_tracking.TrackingSoap" name="TrackingSoap" />
      <!--<endpoint address="https://10.100.100.5/SMSWebService/SMSWebService.asmx" binding="basicHttpBinding" bindingConfiguration="SMSWebServiceSoap" contract="ws_sms.SMSWebServiceSoap" name="SMSWebServiceSoap"/>
      <endpoint address="https://10.100.100.5/wsifmis/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="wsfmis.WebServiceSoap" name="WebServiceSoap"/>
      <endpoint address="https://10.100.100.5/epsws/service.asmx" binding="basicHttpBinding" bindingConfiguration="serviceSoap" contract="epsws.serviceSoap" name="serviceSoap"/>
      <endpoint address="https://10.100.100.5/wsifmis/tracking.asmx" binding="basicHttpBinding" bindingConfiguration="TrackingSoap" contract="ws_tracking.TrackingSoap" name="TrackingSoap"/>-->
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>