@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-underline">
    <div class="box-head">
        <header><h3 class="text-bold">Welcome to Accounting Operation Management System</h3></header>
    </div>
    <div class="box-body" style="padding-top:10px">
        <p class="intro">You need to request an access right to your supervisor.</p>
    </div>
</div>