@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content-well_1-0" class="comp content-well mntl-block">
    <article id="article_1-0" class="comp article mntl-block" data-rail-bp="med" data-tracking-container="true">
      
        <!-- end: comp breadcrumbs -->
        <header id="article-header_1-0" class="comp article-header mntl-block right-rail__offset">
            <h1 id="article-heading_1-0" class="comp article-heading mntl-text-block">
                Introduction To Accounting Operation Management Systems
            </h1>
            </ul>
            <!-- end: comp social-share mntl-social-share share --><div id="byline-with-updated-date_1-0" class="comp byline-with-updated-date mntl-block" data-tracking-container="true">
                <div id="byline_1-0" class="comp byline">
                    By
                    <span class="byline__name">
                        <a href="#" class="byline__link">Administrator</a><!-- end: byline__link -->
                    </span>
                </div>
                <!-- end: comp byline --><div id="updated-date_1-0" class="comp updated-date">
                    Updated Feb 21, 2018
                </div>
                <!-- end: comp updated-date -->
            </div>
            <!-- end: comp byline-with-updated-date mntl-block -->
        </header>
        <!-- end: comp article-header mntl-block right-rail__offset -->
        <div id="article-body_1-0" class="comp article-body mntl-block">
                <div id="mntl-sc-block_1-0" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>An Accounting Operation Management System (Accounting System) is a structure that a business uses to collect, store, manage, process, retrieve and report its financial data so that it can be used by accountants, consultants, business analysts, managers, chief financial officers (CFOs), auditors, regulators&nbsp;and tax agencies.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-1" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block">
                    <div id="mntl-block_3-0" class="comp mntl-block">
                        @*<div id="billboard1-sticky-dynamic_1-0" class="comp billboard1-sticky-dynamic billboard-sticky--sc scads-to-load right-rail__item billboard-sticky scads-stick-in-parent scads-ad-placed scads-stuck-bottom" data-height="1050" style="top: 80px; height: 1050px;">
                            <div class="spacer" style="position: static; width: 300px; height: 280px; display: block; vertical-align: baseline; float: none;">
                                <div id="billboard1-dynamic_1-0" class="comp billboard1-dynamic mntl-gpt-dynamic-adunit mntl-gpt-adunit gpt billboard dynamic" data-ad-width="300" data-ad-height="250" style="position: absolute; bottom: 0px; width: 300px;">
                                    <div id="billboard" class="wrapper" data-type="billboard" data-pos="atf" data-priority="2" data-sizes="[[300, 1050], [300, 600], [160, 600], [300, 250], [1, 2], &quot;fluid&quot;]" data-rtb="true" data-targeting="{}" data-google-query-id="CK75q7LxsuACFYWJwgodx_oLGQ"><div id="google_ads_iframe_/479/investopedia/inv_cybersecurity/billboard_0__container__" style="border: 0pt none; display: inline-block; width: 300px; height: 250px;"><iframe frameborder="0" src="https://tpc.googlesyndication.com/safeframe/1-0-31/html/container.html" id="google_ads_iframe_/479/investopedia/inv_cybersecurity/billboard_0" title="3rd party ad content" name="" scrolling="no" marginwidth="0" marginheight="0" width="300" height="250" data-is-safeframe="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" data-google-container-id="e" style="border: 0px; vertical-align: bottom;" data-load-complete="true"></iframe></div></div>
                                </div>
                            </div>
                        </div>*@
                        <!-- end: comp billboard1-sticky-dynamic billboard-sticky--sc scads-to-load right-rail__item billboard-sticky -->
                    </div>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-2" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>Specially trained accountants work in-depth with Accounting System to ensure the highest level of accuracy in a company's financial transactions and recordkeeping, as well as&nbsp;make financial data easily available to those who legitimately need access to it&nbsp;— all while keeping data intact and secure.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <d
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <a class="heading-toc" id="1-people"></a> <h3 id="mntl-sc-block_1-0-6" class="comp mntl-sc-block mntl-sc-block-heading"> <span class="mntl-sc-block-heading__text"> 1. People </span> </h3> <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
                <div id="mntl-sc-block_1-0-7" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>The people in an Accounting System are simply the system users. Professionals who may need to use an organization's Accounting System include accountants, consultants, business analysts, managers, chief financial officers and auditors. An Accounting System helps the different departments within a company work together.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-8" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-9" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>For example, management can establish sales goals for which staff can then order the appropriate amount of inventory. The inventory order notifies the accounting department of a new payable. When sales are made, sales people can enter customer orders, accounting can <a href="/terms/i/invoice" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">invoice</a> customers, the warehouse can assemble the order, the shipping department can send it off, and the accounting department gets notified of a new <a href="/terms/a/accountsreceivable" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="2">receivable</a>. The customer service department can then track customer shipments and the system can create sales reports for management. Managers can also see inventory costs, shipping costs, manufacturing costs and so on.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-10" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-11" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>With a well-designed Accounting System, everyone within an organization who is authorized to do so can access the same system and get the same information. An Accounting System also simplifies getting information to people outside of the organization, when necessary.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-12" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block">
                    <div id="mntl-block_6-0" class="comp mntl-block">
                        <div id="native_1-0" class="comp native mntl-gpt-dynamic-adunit mntl-gpt-adunit scads-to-load gpt dynamic scads-ad-placed">
                            <div id="native" class="wrapper" data-type="native" data-pos="native" data-priority="4" data-sizes="[&quot;fluid&quot; ]" data-rtb="false" data-targeting="{}" data-google-query-id="CICqj8fxsuACFYxuiwodYbkPnQ" style="display: none;"><div id="google_ads_iframe_/479/investopedia/inv_cybersecurity/native_0__container__" style="border: 0pt none; width: 100%; height: 0%;"></div></div>
                        </div>
                        <!-- end: comp native mntl-gpt-dynamic-adunit mntl-gpt-adunit scads-to-load gpt native dynamic -->
                    </div>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-13" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>For example, consultants might use the information in an Accounting System to analyze the effectiveness of the company's pricing structure by looking at cost data, sales data and revenue. Also, <a href="/terms/i/internalauditor" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">auditors</a> can use the data to assess a company's internal controls, financial condition and compliance with the <a href="/terms/s/sarbanesoxleyact" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="2">Sarbanes-Oxley Act</a> (SOX).</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
             
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-15" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>The Accounting System should be designed to meet the needs of the people who will be using it. The system should also be easy to use and should improve, not hinder, efficiency.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
             
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <!-- end: comp mntl-sc-block mntl-sc-block-inlinevideo mntl-block inline-video -->
                <div id="mntl-sc-block_1-0-18" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <a class="heading-toc" id="2-procedure-and-instructions"></a> <h3 id="mntl-sc-block_1-0-19" class="comp mntl-sc-block mntl-sc-block-heading"> <span class="mntl-sc-block-heading__text"> 2. Procedure and Instructions </span> </h3> <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
                <div id="mntl-sc-block_1-0-20" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>The procedure and instructions of an Accounting System are the methods it uses for collecting, storing, retrieving and processing data. These methods are&nbsp;both manual and automated. The data can come from both internal sources (e.g., employees) and external sources (e.g., customers' online orders). Procedures and instructions will be coded into Accounting System software&nbsp;—&nbsp;they should also be "coded" into employees through documentation and training. To be effective, procedures and instructions must be followed consistently.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-21" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <a class="heading-toc" id="3-data"></a> <h3 id="mntl-sc-block_1-0-22" class="comp mntl-sc-block mntl-sc-block-heading"> <span class="mntl-sc-block-heading__text"> 3. Data </span> </h3> <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
                <div id="mntl-sc-block_1-0-23" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>To store information, an Accounting System must have a database structure such as structured query language (SQL), a computer language commonly used for databases. The Accounting System will also need various input screens for the different types of system users and&nbsp;data entry, as well as different output formats to meet the needs of different users and various types of information.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-24" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-25" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>The data contained in an Accounting System is all the financial information pertinent to the organization's business practices. Any business data that impacts the company's finances should go into an Accounting System.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-26" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-27" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>The type of data included in an Accounting System will depend on the nature of the business, but it may consist of the following:</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-28" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-29" class="comp mntl-sc-block mntl-sc-block-html">
                    <ul><li>Journals</li><li>Subsidiary Ledgers</li><li>Financial Reports</li><li>Depreciation</li><li>Accountant's Advice</li><li>check registers</li><li><a href="/terms/g/generalledger" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">general ledger</a></li><li>inventory data</li><li>payroll information</li><li>timekeeping</li><li>tax information</li></ul>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-30" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-31" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>This data can then be used to prepare accounting statements and reports such as accounts receivable aging, <a href="#"</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-32" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-33" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>On the other hand, examples of data that would not go into an Accounting System includes memos, correspondence, presentations and manuals. These documents might have a tangential relationship to the company's finances, but excluding the standard footnotes, they are not really part of the company's financial recordkeeping.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-34" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <a class="heading-toc" id="4-software"></a> <h3 id="mntl-sc-block_1-0-35" class="comp mntl-sc-block mntl-sc-block-heading"> <span class="mntl-sc-block-heading__text"> 4. Software </span> </h3> <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
                <div id="mntl-sc-block_1-0-36" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>The software component of an Accounting System is the computer programs used to store, retrieve, process and analyze the company's financial data. Before there were computers, Accounting Systems were manual, paper-based systems, but today, most companies are using computer software as the basis of the Accounting System. Small businesses might use Intuit's Quickbooks, Sage Peachtree Accounting, or Microsoft's Small Business Accounting, but there are many others. Small to mid-sized businesses might use <a href="#" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">SAP</a>'s Business One. Mid-sized and large businesses might use Microsoft's Dynamics GP, Sage Group's MAS 90 or MAS 200, Oracle's Peoplesoft or Epicor Financial Management.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-37" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-38" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>Quality, reliability and security are key components of effective <a href="#" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">Accounting System software</a>. Managers rely on the information it outputs to make decisions for the company, and they need high-quality information to make sound decisions.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-39" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-40" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>Accounting System software programs can be customized to meet the unique needs of different types of businesses. If an existing program does not meet a company's needs, software can also be developed in-house with substantial input from end users or can be developed by a third-party company specifically for the organization. The system could even be outsourced to a specialized company.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-41" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-42" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>For publicly-traded companies, no matter what software program and customization options the business chooses, Sarbanes-Oxley regulations will dictate the structure of the Accounting System to some extent. This is because SOX regulations establish <a href="" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">internal controls</a> and auditing procedures that public companies must comply with.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-43" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <a class="heading-toc" id="5-information-technology-infrastructure"></a> <h3 id="mntl-sc-block_1-0-44" class="comp mntl-sc-block mntl-sc-block-heading"> <span class="mntl-sc-block-heading__text"> 5. Information Technology Infrastructure </span> </h3> <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
                <div id="mntl-sc-block_1-0-45" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>Information technology infrastructure is just a fancy name for the hardware used to operate the Accounting Operation Management System. Most of these hardware items are things a business would need to have anyway,&nbsp;including&nbsp;computers, mobile devices,&nbsp;servers, printers, surge protectors, routers, storage media, and possibly a backup power supply. In addition to cost, factors to consider in selecting hardware include speed, storage capability and whether it can be expanded and upgraded.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-46" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-47" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>Perhaps most importantly, the hardware selected for an Accounting System must be compatible with the intended software. Ideally, it would be not just compatible, but optimal&nbsp;—&nbsp;a clunky system will be much less helpful than a speedy one. One way businesses can easily meet hardware and software compatibility requirements is by purchasing a turnkey system that includes both the hardware and the software that the business needs. Purchasing a turnkey system means, theoretically, that the business will get an optimal combination of hardware and software for its Accounting System.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-48" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-49" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>A good Accounting System should also include a plan for maintaining, servicing, replacing and upgrading components of the hardware system, as well as a plan for the disposal of broken and outdated hardware so that sensitive data is completely destroyed.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-50" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <a class="heading-toc" id="6-internal-controls"></a> <h3 id="mntl-sc-block_1-0-51" class="comp mntl-sc-block mntl-sc-block-heading"> <span class="mntl-sc-block-heading__text"> 6. Internal Controls </span> </h3> <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
                <div id="mntl-sc-block_1-0-52" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>The internal controls of an Accounting System are the security measures it contains to protect sensitive data. These can be as simple as passwords or as complex as biometric identification. An Accounting System must have internal controls to protect against unauthorized computer access and to limit access to authorized users which includes some users inside the company. It must also prevent unauthorized file access by individuals who are allowed to access only select parts of the system.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-53" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-54" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>An Accounting System contains confidential information belonging not just to the company, but also to its employees and customers. This data may include Social Security numbers, salary information, credit card numbers, and so on. All of the data in an Accounting System should be encrypted, and access to the system should be logged and surveilled. System activity should be traceable as well.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-55" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-56" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>An Accounting System also needs internal controls that protect it from computer viruses, hackers and other internal and external threats to <a href="#" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">network security</a>. It must also be protected from natural disasters and power surges that can cause data loss.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-57" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <a class="heading-toc" id="how-Accounting Systemsworkin-real-life"></a> <h3 id="mntl-sc-block_1-0-58" class="comp mntl-sc-block mntl-sc-block-heading"> <span class="mntl-sc-block-heading__text"> How Accounting Systems&nbsp;Work&nbsp;In Real Life </span> </h3> <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
                <div id="mntl-sc-block_1-0-59" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>We've seen how a well-designed Accounting System allows a business to run smoothly on a day-to-day basis or hinders its operation if the system is poorly designed. A third use for an Accounting System is that when a business is in trouble, the data in its Accounting System can be used to uncover the story of what went wrong.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-60" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-61" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>The cases of <a href="#" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">WorldCom</a> and <a href="#" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="2">Lehman Brothers</a> provide two examples.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-62" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-63" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>In 2002, WorldCom internal auditors Eugene Morse and Cynthia Cooper used the company's Accounting System to uncover $4 billion in fraudulent expense allocations and other accounting entries. Their investigation led to the termination of CFO Scott Sullivan, as well as new legislation —&nbsp;section 404 of the Sarbanes-Oxley Act, which regulates companies' internal financial controls and procedures.&nbsp;</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-64" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-65" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>When investigating the causes of Lehman's collapse, a review of its Accounting System and other data systems was a key component, along with document collection and review, plus&nbsp;witness interviews. The search for the causes of the company's failure "required an extensive investigation and review of Lehman's operating, trading, <a href="#" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">valuation</a>, financial, accounting and other data systems," according to the 2,200-page, nine-volume examiner's report.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-66" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-67" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>Lehman's systems provide an example of how an Accounting System should <em>not</em> be structured. Examiner Anton R. Valukas's report states, "At the time of its <a href="#" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">bankruptcy</a> filing, Lehman maintained a patchwork of over 2,600 software systems and applications... Many of Lehman's systems were arcane, outdated or non-standard."</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-68" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-69" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>The examiner decided to focus his efforts on the 96 systems that appeared most relevant.&nbsp;This&nbsp;examination required training, study and trial and error just to learn how to use the systems.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-70" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-71" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>Valukas's report also noted, "Lehman's systems were highly interdependent, but their relationships were difficult to decipher and not well documented. It took extraordinary effort to untangle these systems to obtain the necessary information."</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-72" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <div id="mntl-sc-block_1-0-73" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>(Also, check out <em><a href="#" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">Case Study: The Collapse of Lehman Brothers</a>.</em>)</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-74" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
                <a class="heading-toc" id="the-bottom-line"></a> <h3 id="mntl-sc-block_1-0-75" class="comp mntl-sc-block mntl-sc-block-heading"> <span class="mntl-sc-block-heading__text"> The Bottom Line </span> </h3> <!-- end: comp mntl-sc-block mntl-sc-block-heading -->
                <div id="mntl-sc-block_1-0-76" class="comp mntl-sc-block mntl-sc-block-html">
                    <p>The six components of an Accounting System all work together to help <a href="#" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">key employees</a> collect, store, manage, process, retrieve, and report their financial data. Having a well-developed and maintained Accounting Operation Management System that is efficient and accurate is an indispensable component of a successful organization.</p>
                </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-html -->
                <div id="mntl-sc-block_1-0-77" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"> </div>
                <!-- end: comp mntl-sc-block mntl-sc-block-adslot mntl-block -->
            <!-- end: comp textnote mntl-gpt-adunit gpt textnote --><aside id="right-rail_1-0" class="comp right-rail mntl-block"> </aside>
            <!-- end: comp right-rail mntl-block -->
        </div>
        <!-- end: comp article-body mntl-block -->
    </article>
    <!-- end: comp article mntl-block -->
    </div>