@{
    ViewBag.Title = "Congratulation!";
    Layout = "~/Views/Shared/_Layout_default.cshtml";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        You have been successfully registered. To activate your account check your email to your 
        <a href="https://mail.pgas.ph/">
        ZIMBRA MAIL</a> and confirm your registration.
    </p>
</div>
