
@{
    ViewBag.Title = "GL_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-underline">
    <div class="box-head">
        <header>
            <h4 class="text-bold">@ViewBag.Title_mini</h4>
        </header>
        <div class="tools">
            <div class="btn-group ">
                <a class="btn btn-equal btn-sm btn-refresh"><i class="fa fa-refresh"></i></a>
                <a class="btn btn-equal btn-sm btn-collapse"><i class="fa fa-angle-down"></i></a>
                <a class="btn btn-equal btn-sm btn-close"><i class="fa fa-times"></i></a>
            </div>
        </div>
        
    </div>
    <div class="box-body" style="padding-top:10px">
       
    <div class="box-footer">
        <div style="height:10px">

        </div>
    </div>
</div>
    </div>



@*sdf
sdf
sdf
sdf
sd
sdf
sdfs
df*@